<!--Main Navigation-->

    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <h1 style="padding: left 5px; ;">Role Page</h1>
        <div class="list-group list-group-flush mx-3 mt-4">
          <a routerLink="adminrole" routerLinkActive="colour" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3" ></i><span>Admin</span>
          </a>
          <a routerLink="userrole" routerLinkActive="colour" class="list-group-item list-group-item-action ">
            <i class="fas fa-tachometer-alt fa-fw me-3" ></i><span>Users</span>
          </a>
          <a routerLink="/authhead/todos" routerLinkActive="colour" class="list-group-item list-group-item-action ">
            <i class="fas fa-tachometer-alt fa-fw me-3" ></i><span>Back to Main Menu</span>
          </a>
          

        </div>
      </div>
    </nav>


  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4">
        <router-outlet></router-outlet>
    </div>
  </main>
  <!--Main layout-->